body {
    background: linear-gradient(to bottom, #d6f5ff, #ffffff);
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #4b6cb7;
}

p {
    font-size: 20px;
    color: #555;
}

button {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}
canvas{

    border:4px solid #7ec8e3;

    background:white;

    border-radius:15px;

    cursor:crosshair;

}

.toolbar{

    margin:20px;

}

.toolbar button{

    margin:10px;

}
svg{

margin-top:30px;

}

.petal{

cursor:pointer;

transition:.3s;

}

.petal:hover{

transform:scale(1.1);

}
    #game{

position:relative;

height:80vh;

overflow:hidden;

}

.balloon{

position:absolute;

bottom:-100px;

width:70px;

height:90px;

border-radius:50%;

cursor:pointer;

box-shadow:0 5px 10px rgba(0,0,0,.3);

transition:.2s;

}

.balloon::after{

content:"";

position:absolute;

width:2px;

height:40px;

background:#555;

left:34px;

top:90px;

}
#bubbleContainer{

display:flex;

flex-wrap:wrap;

justify-content:center;

gap:15px;

margin:40px;

}

.bubble{

width:60px;

height:60px;

border-radius:50%;

background:#d8f3ff;

box-shadow:
inset -6px -6px 10px white,
inset 6px 6px 10px #8ccfe8;

cursor:pointer;

transition:.2s;

}

.bubble:hover{

transform:scale(1.05);

}

.popped{

transform:scale(.2);

opacity:.2;

pointer-events:none;

}
