body {
    background: linear-gradient(to bottom, #d6f5ff, #ffffff);
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #4b6cb7;
}

p {
    font-size: 20px;
    color: #555;
}

button {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}
canvas{

    border:4px solid #7ec8e3;

    background:white;

    border-radius:15px;

    cursor:crosshair;

}

.toolbar{

    margin:20px;

}

.toolbar button{

    margin:10px;

}
